<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello Socket.io!
    <div>
        <input type="text" id="text">
        <input type="button" id="btn">
    </div>
    
      <script src="/socket.io/socket.io.js"></script> 
    <script>
        window.onload = function () {
          var button = document.getElementById('btn');
          var text = document.getElementById('text');
    
          button.addEventListener('click',function(err){
            if(err){
              console.log(err);
            }
            console.log('client send message: ',text.value);
            socket.emit('send message',text.value);
          });
          var socket = io.connect();
          socket.on('new message', function(msg){
              console.log('server recv message : ',msg);
          });
    
        }
    </script>
</body>
</html>